<div class="container">
    <h2>About Ace Gaming Center</h2>
    <p>For more than a decade, our gaming center has been setting up charitable initiatives, which is why we look to extend these opportunities in impoverished areas. Our goal is to <b>secure</b> funds and offer video game access to less fortunate children, enabling them to experience the joys of childhood.</p> <img src="https://venturebeat.com/wp-content/uploads/2020/08/sepso.jpg?fit=400%2C262&strip=all" class="rounded img-fluid" alt="Center"> <br/>
        <h3>Why We Do It</h3>
        <p>Playing games can open up a world of adventure and imagination for children, connecting them with peers and creating lifelong memories.</p>
</div>