@{
    ViewData["Title"] = "Home Page";
}
<style>
    table {
        text-align:center;
    }
    body {
        color: #fff;
    }
</style>
<body class="bg-dark">
<div class="text-center">
    <h1 class="display-4">Welcome to the Ace Gaming Center</h1>
    <p><small class="text-muted">Connecting the community through gaming and internet...</small></p>


               <p class="lead">We do more than just provide a space for gamers to game.</p>

    <hr/>
    <h3>Create an E-Sports Team...</h3>
    <blockquote class="blockquote">
        <p class="mb-0">Wanna play? Let's play</p><br/>
        <footer class="blockquote-footer">Chamber</footer>
    </blockquote>
    <p>Create and learn strategies, hone skills, develop discipline in a competitive environment. Being part of a team can foster a sense of belonging and purpose, and lead to new friendships and connections.</p>
    <p>E-Sports is a rapidly growing industry with increasing recognition and rewards, providing opportunities for career advancement and financial gain.</p>
    <p>By creating an e-sporrts team, you not only provide a platform for individuals to grow and succeed, but also contribute to the broader e-sports community and help shape the future for this exciting and dynamic field.</p>
    <hr/>
    <h3>Get your Scholarship Opportunities...</h3>
    <p>Make use of pulling all-nighters playing video games and apply for a scholarship! You can land Esports scholarships and get paid to play.</p>
    <p>There are many universities willing to offer scholarships for gamers and plenty of well known institutions that have recruited students, providing more to help you expand further. We will provide an extensive and comprehensive list of scholarships for gamers. All you have to do is meet our faculty and we will answer any of your questions.</p>
    <hr/>
</div>
</body>