@model COMP003B.Assignment4.Models.CharityClass

<h1>Register</h1>

<form asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label" style="font-weight: bold;"></label>
        <input asp-for="Name" class="form-control" style="max-width: 250px; font-weight: bold;" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label" style="font-weight: bold;"></label>
        <input asp-for="Email" class="form-control" style="max-width: 250px; font-weight: bold;" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label" style="font-weight: bold;"></label>
        <input asp-for="PhoneNumber" class="form-control" style="max-width: 250px; font-weight: bold;" />
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label" style="font-weight: bold;"></label>
        <input asp-for="Address" class="form-control" style="max-width: 250px; font-weight: bold;" />
    </div>
    <br/>
    <div class="form-group">
        <input type="submit" value="Register" class="btn btn-primary" />
    </div>
    <br/>
</form>

